<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DOME_BUS_EAI_R001loginWSSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://159.122.2.36/oauth-soap/DOME_BUS_EAI_R001loginWS"
                binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R001loginWSSoapBinding"
                contract="Authentification.DOME_BUS_EAI_R001loginWS" name="LoginServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>