<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DOME_BUS_EAI_R511createPersonWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R521createProfileWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R523benefSubscriptionWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R525linkIntervenantToBenefWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R532selectProfileWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R541bGetProfileListWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R541cGetProfileDetailWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R543bSwitchReferentWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R101contactCreateWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R201eventCreateWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R213beventGetNotificationStructureWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R231eventDeleteWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R401aDocProvisionningAcquisitionWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R542aUpdatePersonWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R590getMultimediaFileSoapBinding" />
        <binding name="DOME_BUS_EAI_R820addNewJourneyEntryWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R821getListJourneyEntryWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R822getDetailJourneyEntryWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R823setDetailJourneyEntryWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R824deleteJourneyEntryWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R830aAddNewAGGIRWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R831aGetListAGGIRWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R833aSetDetailAGGIRWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R221eventUpdateStateWSSoapBinding" />
        <binding name="DOME_BUS_EAI_R221eventUpdateWSSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R521createProfileWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R521createProfileWSSoapBinding"
        contract="R521.DOME_BUS_EAI_R521createProfileWS" name="CreateProfileWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R101contactCreateWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R101contactCreateWSSoapBinding"
        contract="R101.DOME_BUS_EAI_R101contactCreateWS" name="CreateContactWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R201eventCreateWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R201eventCreateWSSoapBinding"
        contract="R201.DOME_BUS_EAI_R201eventCreateWS" name="CreateEventWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R213beventGetNotificationStructureWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R213beventGetNotificationStructureWSSoapBinding"
        contract="R213b.DOME_BUS_EAI_R213beventGetNotificationStructureWS"
        name="EventGetNotificationStructureWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R221eventUpdateWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R221eventUpdateWSSoapBinding"
        contract="R221.DOME_BUS_EAI_R221eventUpdateWS" name="ModifyEventWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R221eventUpdateStateWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R221eventUpdateStateWSSoapBinding"
        contract="R221s.DOME_BUS_EAI_R221eventUpdateStateWS" name="EventUpdateStateWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R231eventDeleteWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R231eventDeleteWSSoapBinding"
        contract="R231.DOME_BUS_EAI_R231eventDeleteWS" name="DeleteEventWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R401aDocProvisionningAcquisitionWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R401aDocProvisionningAcquisitionWSSoapBinding"
        contract="R401a.DOME_BUS_EAI_R401aDocProvisionningAcquisitionWS"
        name="AddDocumentWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R511createPersonWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R511createPersonWSSoapBinding"
        contract="R511.DOME_BUS_EAI_R511createPersonWS" name="CreatePersonWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R523benefSubscriptionWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R523benefSubscriptionWSSoapBinding"
        contract="R523.DOME_BUS_EAI_R523benefSubscriptionWS" name="SubscriptionPersonStructureWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R525linkIntervenantToBenefWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R525linkIntervenantToBenefWSSoapBinding"
        contract="R525.DOME_BUS_EAI_R525linkIntervenantToBenefWS" name="LinkIntervenantToBenefWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R532selectProfileWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R532selectProfileWSSoapBinding"
        contract="R532.DOME_BUS_EAI_R532selectProfileWS" name="SelectProfilePartnerWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R541bGetProfileListWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R541bGetProfileListWSSoapBinding"
        contract="R541b.DOME_BUS_EAI_R541bGetProfileListWS" name="AuthentificationWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R541cGetProfileDetailWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R541cGetProfileDetailWSSoapBinding"
        contract="R541c.DOME_BUS_EAI_R541cGetProfileDetailWS" name="DetailProfileWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R542aUpdatePersonWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R542aUpdatePersonWSSoapBinding"
        contract="R542a.DOME_BUS_EAI_R542aUpdatePersonWS" name="UpdatePersonWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R543bSwitchReferentWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R543bSwitchReferentWSSoapBinding"
        contract="R543b.DOME_BUS_EAI_R543bSwitchReferentWS" name="ReferentWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R590getMultimediaFile"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R590getMultimediaFileSoapBinding"
        contract="R590.DOME_BUS_EAI_R590getMultimediaFile" name="UploadWebSoapServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R820addNewJourneyEntryWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R820addNewJourneyEntryWSSoapBinding"
        contract="R820.DOME_BUS_EAI_R820addNewJourneyEntryWS" name="AddCourseEntryWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R821getListJourneyEntryWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R821getListJourneyEntryWSSoapBinding"
        contract="R821.DOME_BUS_EAI_R821getListJourneyEntryWS" name="GetListCourseEntryWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R822getDetailJourneyEntryWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R822getDetailJourneyEntryWSSoapBinding"
        contract="R822.DOME_BUS_EAI_R822getDetailJourneyEntryWS" name="GetCourseEntryDetailsWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R823setDetailJourneyEntryWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R823setDetailJourneyEntryWSSoapBinding"
        contract="R823.DOME_BUS_EAI_R823setDetailJourneyEntryWS" name="AlterCourseEntryWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R824deleteJourneyEntryWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R824deleteJourneyEntryWSSoapBinding"
        contract="R824.DOME_BUS_EAI_R824deleteJourneyEntryWS" name="DeleteCourseEntryWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R830aAddNewAGGIRWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R830aAddNewAGGIRWSSoapBinding"
        contract="R830a.DOME_BUS_EAI_R830aAddNewAGGIRWS" name="AddNewAGGIRWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R831aGetListAGGIRWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R831aGetListAGGIRWSSoapBinding"
        contract="R831a.DOME_BUS_EAI_R831aGetListAGGIRWS" name="GetListAGGIRWebServiceImplPort" />
      <endpoint address="http://dev.mondome.fr/soap/DOME_BUS_EAI_R833aSetDetailAGGIRWS"
        binding="basicHttpBinding" bindingConfiguration="DOME_BUS_EAI_R833aSetDetailAGGIRWSSoapBinding"
        contract="R833a.DOME_BUS_EAI_R833aSetDetailAGGIRWS" name="AlterAGGIRWebServiceImplPort" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
